APP_NAME=externals.io
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8000
APP_VERSION=

LOG_CHANNEL=stack
LOG_STACK=single
LOG_LEVEL=info

DB_CONNECTION=sqlite
# DB_HOST=127.0.0.1
# DB_PORT=3306
# DB_DATABASE=externals
# DB_USERNAME=root
# DB_PASSWORD=

SESSION_DRIVER=cookie
SESSION_LIFETIME=43200
SESSION_ENCRYPT=true

CACHE_STORE=file
QUEUE_CONNECTION=sync
FILESYSTEM_DISK=local

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_REDIRECT_URI=http://localhost:8000/login

ALGOLIA_APP_ID=
ALGOLIA_API_KEY=
ALGOLIA_INDEX_PREFIX=dev_

RSS_HOST=http://localhost:8000

SENTRY_LARAVEL_DSN=
