<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block pageTitle %}#externals - Opening PHP's #internals to the outside{% endblock %}</title>

    <link rel="stylesheet" href="{{ assetsBaseUrl }}/assets/css/main.min.css?v={{ version }}">
</head>
<body class="antialiased h-screen flex items-center justify-center">
    <div>
        <h1 class="font-black text-5xl text-center mb-16">Maintenance in progress</h1>
        <img src="{{ assetsBaseUrl }}/assets/images/hammer.jpg" alt="HAMMERING IN PROGRESS" class="block mx-auto rounded-xl shadow-lg">
    </div>
</body>
</html>
