{% extends '/app/views/layout.html.twig' %}

{% block content %}

    <div class="home-header">
        <div class="container">
            <h1>#externals</h1>
            <p>Opening PHP's #internals to the outside.</p>
        </div>
    </div>

    <section id="threads">

        <table class="thread-list table table-striped table-hover">
            {% include '/app/views/threads/thread-list.html.twig' %}
        </table>

        <button id="show-more-threads" class="btn btn-default btn-block btn-lg">Show more</button>

    </section>

    <script>
        $(function () {
            var page = 2;
            $('#show-more-threads').click(function () {
                $.get('/threads/list?page=' + page, function (html) {
                    if (html === '') {
                        $('#show-more-threads').remove();
                        return;
                    }
                    $('.thread-list tbody').append(html);
                });
                page++;
            });
        });
    </script>

{% endblock %}
