{% extends '/app/views/layout.html.twig' %}

{% block content %}

    <div class="page-header">
        <h1>PHP #internals</h1>
    </div>

    <table class="thread-list table table-striped table-hover">
        {% for thread in threads %}
            <tr>
                <td>
                    <span class="badge badge-default">{{ thread.emailCount }}</span>
                </td>
                <td>
                    <a href="thread/{{ thread.id }}">{{ thread.subject }}</a>
                    <small class="text-muted">{{ thread.lastUpdate|time_diff }}</small>
                </td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}
