<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block pageTitle %}#externals - Opening PHP's #internals to the outside{% endblock %}</title>

    <link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/vendor/fontawesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/instantsearch.js/1/instantsearch.min.css">
    <link rel="stylesheet/less" type="text/css" href="/css/style.less">
    <script src="/vendor/less/dist/less.min.js"></script>
</head>
<body>
    <header class="site-header">
        <div class="container">
            <ul><li><a href="/">#externals</a></li></ul>
            <div class="account">
                <span class="fa fa-github"></span>
                {% if user is defined and user is not empty %}
                    Welcome {{ user.name }}
                    (<a href="/logout" rel="nofollow">logout</a>)
                {% else %}
                    <a href="/login" rel="nofollow">Log in with GitHub</a>
                    <span class="hidden-xs">to track unread emails</span>
                    <span class="fa fa-info-circle" data-toggle="tooltip" data-placement="bottom" title="No personal data is fetched or stored from GitHub, read more in the footer of the page."></span>
                {% endif %}
            </div>
        </div>
    </header>

    <div class="container main-container">
        {% block content %}{% endblock %}
    </div>

    <footer>
        <div class="container">
            <p>
                Contribute to the project on GitHub: <a href="https://github.com/mnapoli/externals" target="_blank">mnapoli/externals</a>
            </p>
            <p>
                Search graciously provided by <a href="https://www.algolia.com">Algolia</a>.
            </p>
            <p>
                <strong>About data:</strong> if you login using GitHub, no personal data (or GitHub token) will be stored.<br>
                The only thing stored is your GitHub ID, username and which threads/emails you have already read.
            </p>
        </div>
    </footer>

    {% block scripts %}
        <script src="/vendor/jquery/jquery.min.js"></script>

        {# Google fonts #}
        <script>
            WebFontConfig = {
                google: { families: [ 'Open+Sans:400,400italic,700,300,300italic,700italic:latin' ] }
            };
            (function() {
                var wf = document.createElement('script');
                wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
                wf.type = 'text/javascript';
                wf.async = 'true';
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(wf, s);
            })();
        </script>

        <script>
            $(function () {
                $('[data-toggle="tooltip"]').tooltip()
            });
        </script>

        {% if not debug %}
            {# Google Analytics #}
            <script>
                (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
                ga('create', 'UA-15584647-16', 'auto');
                ga('send', 'pageview');
            </script>
        {% endif %}

        <script src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="/vendor/moment/min/moment.min.js"></script>
        <script src="https://cdn.jsdelivr.net/algoliasearch/3/algoliasearch.min.js"></script>
        <script src="https://cdn.jsdelivr.net/instantsearch.js/1/instantsearch.min.js"></script>
    {% endblock %}
</body>
</html>
