<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block pageTitle %}#externals - Opening PHP's #internals to the outside{% endblock %}</title>

    <link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/vendor/fontawesome/css/font-awesome.min.css">
    <link rel="stylesheet/less" type="text/css" href="/css/style.less">
    <script src="/vendor/less/dist/less.min.js"></script>
    <script src="/vendor/jquery/jquery.min.js"></script>
</head>
<body>
    <header class="site-header container">
        <div class="account">
            <span class="fa fa-github"></span>
            {% if user is defined and user is not empty %}
                Welcome {{ user.name }}
                (<a href="/logout" rel="nofollow">logout</a>)
            {% else %}
                <a href="/login" rel="nofollow">Log in with GitHub</a> <br> to track unread emails
                <span class="fa fa-info-circle" data-toggle="tooltip" data-placement="bottom" title="No personal data is fetched or stored from GitHub, read more in the footer of the page."></span>
            {% endif %}
        </div>
    </header>

    <div class="container main-container">
        {% block content %}{% endblock %}
    </div>

    <footer>
        <div class="container">
            <p>
                Contribute to the project on GitHub: <a href="https://github.com/mnapoli/externals" target="_blank">mnapoli/externals</a>
            </p>
            <p>
                <strong>About data:</strong> if you login using GitHub, no personal data (or GitHub token) will be stored.<br>
                The only thing stored is your GitHub ID, username and which threads/emails you have already read.
            </p>
        </div>
    </footer>

    <script src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        });
    </script>
</body>
</html>
