<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block pageTitle %}#externals - Opening PHP's #internals to the outside{% endblock %}</title>
    
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,700" rel="stylesheet">

    <link rel="stylesheet" href="/dist/css/main.min.css?v={{ version }}">
</head>
<body>
    <div class="container text-center">
        <h1 style="margin-top: 100px">Maintenance in progress</h1>
        <br>
        <img src="/images/hammer.jpg" alt="HAMMERING IN PROGRESS">
    </div>
</body>
</html>
