{% extends '@app/layout.html.twig' %}

{% block content %}

    <h1>Most interesting threads of the last month</h1>

    <section id="threads">
        <div class="thread-list">
            {% include '@app/threads/thread-list.html.twig' %}
        </div>
    </section>

{% endblock %}
