<?php
declare(strict_types = 1);

return [

    'imap.config' => [
        'host' => 'imap.example.com',
        'user' => 'user',
        'password' => 'password',
        'port' => 993,
        'security' => 'ssl',
    ],
    'db.url' => 'mysql://root:@localhost/externals',
    'github.oauth.client_id' => '',
    'github.oauth.client_secret' => '',
    'github.oauth.redirect_url' => 'http://localhost:8000/login',

];
