body {
    background-color: #FAFAFA;
}

.container {
    max-width: 750px;
}

.thread-list {
    font-size: 1.2em;
}

article {
    background-color: white;
    border: 1px solid #e6e6e6;
    padding: 16px;
    margin: 10px 0;
}
article header {
    border-bottom: 1px solid #e6e6e6;
    padding: 10px 16px;
    margin: -16px -16px 16px;
    background-color: #f1f1f1;
    color: #757575;
}
article header .avatar {
    float: right;
    border-radius: 50%;
    box-shadow: 1px 2px 5px 1px #c0c0c0;
}
article blockquote {
    color: #999;
    padding: 0 20px;
    font-size: 0.98em;
}
